<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block titulo%} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>{% block encabezado%} Idiomas {{ idioma["name"] }} {% endblock %}</h1>
        <h2></h2> 
        <hr>
        <ul>
            {% block contenido%} 
            {% for p in peliculas %}
                <li>{{ p["titulo"] }}</li>
            {% endfor %}
            {% endblock %}
        </ul>
    </body>
</html>