html { font-family: Arial; background: #9581f0e3; margin: 1rem; }
body { max-width: 960px; margin: 0 auto; background: hsla(224, 58%, 86%, 0.816); }
h1 { font-family:Arial, Helvetica, sans-serif; color: rgb(32, 35, 39); margin: 1rem ; }
h2 {font-family: Arial; margin: 1rem;}
p {margin: 1rem;}
nav h1 { flex: auto; margin: 0; }
nav ul li { display: block; padding: 0.5rem; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
